/* Extra large devices (large laptops and desktops, 1440px and up) */
@media only screen and (max-width: 1440px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  .sub_cont {
    top: 125px;
  }
  .panel_box .accordion-button {
    font-size: 25px;
  }
  .Features > h1 {
    font-size: 45px;
  }
  .padt-60 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .main_heading > h1 {
    font-size: 37px;
  }
  .main_heading > form > button {
    padding: 10px;
    font-size: 12px;
  }
  .banking-services {
    margin-top: 20px;
  }
  .cate1 > .head > h5 {
    font-size: 14px;
  }
  .cate1 > ul {
    padding: 10px;
  }
}
/* Medium devices (landscape medium, 992px and up) */
@media only screen and (max-width: 992px) {
  .nav {
    position: absolute;
    top: 80%;
    width: 100%;
    padding: 20px;
    background-color: #807df2;
    left: 0px;
    border-radius: 10px;
    display: none;
  }
  .nav > ul {
    flex-direction: column;
    gap: 10px;
  }
  .nav > ul > li > a {
    color: #fff;
  }
  .bar {
    display: block;
  }
  .main_heading {
    margin-top: 0px;
  }
  .litter_title {
    padding-top: 0px;
  }
  .mobile_bn,
  .simple_circle {
    margin-top: 30px;
  }

  .line1,
  .line2,
  .line3,
  .line4 {
    display: none;
  }
  .sub_cont {
    top: 100px;
  }
  .sub_cont > form {
    margin-top: 20px;
    gap: 1px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .Features > h1 {
    font-size: 30px;
  }
  .panel_box .accordion-button {
    font-size: 16px;
  }
  .subscribe_box {
    padding: 40px 10px;
  }
  .sub_cont > h1 {
    font-size: 20px;
  }
  .sub_cont {
    top: 55px;
  }
  .sub_cont > form {
    margin-top: 10px;
    width: 60%;
    margin: auto;
  }
  .sub_cont > form > input {
    width: 140px;
  }
  .learnbtn1 {
    font-size: 14px;
    padding: 8px 10px;
    white-space: nowrap;
  }
  .panel_box .accordion-button:not(.collapsed)::after,
  .panel_box .accordion-button::after {
    height: 30px;
    width: 30px;
    font-size: 16px;
  }
  .experien_box h3 {
    font-size: 18px;
    padding: 8px 0px;
  }
  .client_detail {
    gap: 10px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .navbar {
    padding: 15px 0px;
  }
  .logo_title {
    font-size: 24px;
  }
  .side_detail {
    width: 70%;
  }
  .side_detail {
    gap: 10px;
  }
  .user_img {
    width: 50px;
  }
  .rectangle-parent {
    height: 200px;
    padding: 15px;
    gap: 10px;
    display: flex;
  }
  .para{
    line-height: 20px;
    font-size: 14px;
  }
  .Innovative > h1 {
    font-size: 30px;
  }
  .Innovative_bn {
    height: 300px;
    margin-top: 20px;
}
.inno_cont > h6 {
  line-height: 0px;

  margin: 0px;
}
.experien_box1 {
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.exp_bn1,.exp_bn2{
  width: 100%;
}
.content>p{
  margin-top: 0px !important;
}
.sub_cont > form > input {
  width: 116px;
}
.wedget_f1 , .wedget_f{
  padding-top: 10px;
  padding-bottom: 10px;
}
.panel_box {
  margin-top: 20px;
}
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 420px) {
  .user_img {
    width: 90px;
  }
  .side_detail {
    width: 60%;
  }
  .panel_box .accordion-button {
    font-size: 14px;
}
.sub_cont {
  top: 48px;
}
.sub_cont > form > input {
  width: 83px;
}
}
/* Extra small devices (phones, 300px and down) */
@media only screen and (max-width: 400px) {
}
